
//- picture
    source(media="(min-width: 800px)" srcset="head.jpg, head-2x.jpg 2x")
    source(media="(min-width: 450px)" srcset="head-small.jpg, head-small-2x.jpg 2x")
    img(src="head-fb.jpg" srcset="head-fb-2x.jpg 2x" alt="a head carved out of wood")

mixin image(srcname, ext, text)
  picture
    img(src=srcname + '.' + ext srcset=srcname+ '@2x.' + ext + ' 2x' alt=text)

mixin bullets(number)
  menu
    li.active 1
    - var n = 2;
      while n <= number
        li= n++

mixin button(text, css = 'defaultbutton')
  div(class=css)
    = text

mixin link(url, css='link')
  a(class=css, target="_blank", rel="noopener noreferrer", href=url)
    if block
      block


